@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
.letter{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.carousel-caption h3, .carousel-caption p {
  color: white;
}


.name{
  font-size: 20px;
  display: flex; 
  justify-content: center; 
  align-items:center; 
  height: 10vh;
}